.numberOfItems {
  position: absolute;
  top: 0;
  right: 5%;

  height: 30px;
  width: 30px;

  background-color: red;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 20px;
}


.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    

}

.carousel-item{
    height: 18rem;
    background: lightblue;
    color: black;
    padding-left: 30rem;
    padding-top: 5rem;
    
}

.container{
    margin-top: 40px ;
}

.card card-title{
    align-items: center;
}

.btn{
    margin-left: 20px;
    align-items: center;
    
}



.card{

    align-items: center;
    
}
.R{
    color: blue;
}
#emptyCart{
    font-size: large;
    color: rgb(212, 0, 255);
    padding-right: 150px;
}